.mainpage {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.container-1 {
    display: flex;
    flex-direction: column;
}
.header {
    height: 100px;
    padding: 100px 20px 0px 20px;
}

.navigation {
    padding: 0px 20px 0px 20px;
    flex-basis: 100%;
    position: relative;
}
.navigation input {
    margin-left: 20px;
    height: 15px;
} 
.navigation button {
    background-color:royalblue; 
    border-radius: 10px;   
    margin-left: 20px;
    height: 20px;
}

.category-add {
    padding: 10px 20px 0px 20px;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 30px;
    height: 200px;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    
}

a {
    margin-right: 10px;
}

.row-1, .row-2, .row-3, .row-4 {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
.row-1 label {
    flex-basis: 30%;
}
.row-1 div {
    flex-basis: 20%;
}
.row-2 input {
    flex-basis: 30%;
    height: 20px;
}
.row-2 select {
    flex-basis: 20%;
    height: 30px;
    font: 1em sans-serif;
}
.row-3 {
    height: 30px;
    align-items: flex-end;
}
.row-4 textarea {
    flex-basis: 70%;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.row-4 button {
    flex-basis: 20%;
    border-radius: 10px;
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.category-table {
    width: 550px;
    margin-inline-start: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    align-items: flex-end;
    box-sizing: border-box;
}


input[type="text"] {
    border-radius: 5px;
}

.new-post {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    align-self: flex-end;
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/*
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  }
*/