.mainpage {
    display: flex;
    flex-direction: column;
}

.header {
    flex-basis: 100%;
    height: 40px;
    padding: 5px 10px 5px 10px;
    background-image: linear-gradient(to bottom, rgb(173, 219, 206), rgb(217, 241, 235));
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-left {
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header-left * {
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.header-left input {
    width: 100px;
}
.header-left button {
    border-radius: 5px;
    height: 30px;
    background-color: rgb(156, 180, 108);
}
.header-right {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.header-right * {
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
}

.container-post-add {
    display: flex;
    flex-direction: column;
}
.caption {
    height: 100px;
    padding: 30px 20px 20px 20px;
}

.navigation {
    padding: 0px 20px 0px 20px;
    flex-basis: 100%;
    position: relative;
    overflow-x: auto;
}
.navigation input {
    margin-left: 20px;
    height: 15px;
} 
.navigation button {
    background-color:dodgerblue;; 
    border-radius: 10px;   
    margin-left: 20px;
    height: 20px;
}
.navigation i {
    text-decoration: underline blue;
    cursor: pointer;
    font-style: normal;
    color: blue;
    margin: 5px;
}

.post-add {
    padding: 25px 10px 0px 10px;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 30px;
    height: 200px;
    background-color: rgb(179, 197, 231);
    display: flex;
    flex-direction: column;
    
}

a {
    margin-right: 10px;
}

.row-1, .row-2, .row-3, .row-4 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 5px;
}
.row-1 label {
    flex-basis: 30%;
}
.row-1 div {
    flex-basis: 20%;
}
.row-2 input {
    flex-basis: 30%;
    height: 20px;
}
.row-2 select {
    flex-basis: 20%;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.row-3 {
    height: 30px;
    align-items: flex-end;
}
.row-4 textarea {
    flex-basis: 70%;
    border-radius: 10px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.row-4 button {
    flex-basis: 20%;
    height: 40px;
    border-radius: 10px;
    background-color: dodgerblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

input {
    border-radius: 5px;
}

.container-post-show {
    height: 80vh;
    display: flex;
    flex-direction: column;
    border-top: 1px solid;
    border-top-color:  rgb(163, 169, 179);
    margin-top: 20px;
}

/* the flex container that will take the rest of the height */
.content-wrapper {
    display: flex;
    flex: 1;
    min-height: 0px; /* IMPORTANT: for non-chrome browsers */
  }

  /* the container for overflowed posts */
  .content-overflow {
    flex: 1;
    overflow: auto;
}

/* the overflow content for showing posts */
.post-show {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 30px;
    flex-basis: auto;
}

.post-show-votes {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10%;
}
.post-show-votes * {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0px auto;
}
.post-show-votes p {
    box-align: center;
    font: bold 36px Arial, Helvetica, sans-serif;
    text-align: center;
}

.post-show-info {
    flex: 11;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
.post-show-info * {
    margin: 3px;
}
.post-show-info > p {
    margin-right: 20%;
    text-align: justify; 
    display: block;
}

.post-show-info-heading {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}
.post-show-info-heading-text p:first-child {
    color: blue;
}
.post-show-info-heading-text p:nth-child(2) {
    color: red;
}
.post-show-info-heading-text p:nth-child(3) {
    font: bold 24px Arial, Helvetica, sans-serif;
}
.post-show-info-heading-picture  img{
    width: 90px;
    height: 70px;
}

.comment-add {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font: 14px Arial, Helvetica, sans-serif;
}
.comment-add input {
    flex-basis: 80%;
}
.comment-add button {
    flex-basis: 15%;
    height: 30px;
    border-radius: 10px;
    background-color: dodgerblue;
    font: 12px Arial, Helvetica, sans-serif;
}

.comment-buttons button {
    height: 25px;
    border-radius: 10px;
    background-color: rgb(156, 180, 108);
    font: 12px Arial, Helvetica, sans-serif;
}

.comment-show {
    display: flex;
    flex-direction: column;
    border-top: 2px solid;
    border-color: gray;
}
.comment-show-user {
    margin-left: 25%;
    display: flex;
    flex-direction: column;
}

.comment-show-user-comments {
    border-top: 2px solid;
    border-color: gray;
}
.comment-show-user-comments:first-child {
    border: none;
}
.comment-show-user-comments p:first-child {
    font: bold 24px Arial, Helvetica, sans-serif;
}
.comment-show-user-comments p:last-child {
    text-align: justify; 
    display: block;
}
/*
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}
*/
